body{
	font-size: 17px;
	background-color:  #333333;
	font-family: 'Catamaran', sans-serif;
	color: #ffffff;
}
/*	Header		*/
header{
	padding-top: 100px;
	background-image: url("../media/background_01.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
#header-nav{
	background-color: #333333;
}
h1, h2, h3{
	font-family: 'Pompiere', cursive;
	color: #cccccc;
}
a{
	color: #cc99cc;
	text-decoration: none;
}
a:hover{
	color: #99cc99;
	text-decoration: underline;
}
a.nav-link, a.nav-link:hover{
	font-family: 'Pompiere', cursive;
	color: #cccccc;
}
a.nav-link, a.nav-link:focus{
	font-size: 1.5em;
	color: #cccccc;
}
a.nav-link:hover{
	font-size: 1.7em;
	color: #99cc99;
	text-decoration: underline;
}
a.nav-link.active{
	color: #99cc99;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: overline 2px;;
}
.navbar-toggler{
	color: #cccccc;
	padding: 4px;
	margin-bottom: 15px;
}
/*	Footer		*/
.footer-box{
	background-image: url("../media/background_01.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 30px;
	background-color: #333333;
}
#footer-nav{
	background-color: #333333;
}
.list-group-item{
	color: #cccccc;
	border: 0;
	background-color: rgba(51, 51, 51, 0.5);
}
/*@media (min-width: 768px){
	footer{
		position: fixed;
		bottom: 0;
		width: 100%;
	}
}*/
i.bi{
	transition: transform .2s;
	vertical-align: baseline;
}
i.bi:hover{
	transform: scale(1.5);
	color: #99cc99;
}
.blockquote{
	font-size: 1rem;
	color:#99cc99;
}
h3{
	color:#99cc99;
}
ol.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}
#project-list{
	background-image: url("../media/tilings.svg");
	background-repeat: repeat;
}
#project-list ol{
	background-color: transparent;
}
#underConstruction{
	background-image: url("../media/sevenOverlappingCircles.svg");
	background-repeat: repeat;
	height: 50vh;
}
#resource-list{
	background-image: url("../media/rhombitrihexagonal.svg");
	background-repeat: repeat;
}