---
name: Web Design and Development
date: 2023-11-14
---
<section>
<p>Webpages that I designed and/or developed</p>
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 align-items-stretch" data-aos="fade-up">
        {% assign sortedWebDev = site.data.webDev | sort: 'date' | reverse %}
        {% for item in sortedWebDev %}
        <div class="col webDev shadow-sm" >
            <a class="lead" href="{{ item.weburl }}" target="_blank">{{ item.webName }}</a>
            <p>{{ item.description }}</p>
            <p>for {{ item.client }}</p>
            <p>
                {% for tech in item.techUsed %}
                <i class="fa-brands fa-{{ tech }}"></i>
                {% endfor %}                
            </p>
        </div>
        {% endfor %}
    </div>
</div>
</section>