        <div class="d-flex flex-column flex-md-row align-items-center justify-content-md-around">
            <span>&copy;2019-2025 Disha Kuzhively</span>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="https://github.com/dishajk" target="_blank"><ion-icon class="align-middle" name="logo-github"></ion-icon></a>
                </li>
                <li class="list-inline-item"><a href="https://www.instagram.com/food_n_oats" target="_blank"><ion-icon class="align-middle" name="logo-instagram"></ion-icon></a></li>
            </ul>
        </div>

