    <h4 data-aos="slide-left">
    <a data-bs-toggle="collapse" href="#socials" role="button" aria-expanded="false" aria-controls="socials">
        Quick Guide to my Social Spaces
    </a>
    </h4>
    <div class="collapse container" id="socials">
    <p>Here's a quick guide on how to find me on different social media platforms and when to use each one.</p>
    <h5>Facebook</h5>
    <p>I'm not very active on Facebook, and it's mainly for my personal use. I have reserved it for close friends and family. While I might use Messenger occasionally, I prefer not to mix personal and professional matters here.</p>
        <h5>Instagram</h5>
        <p>I have two Instagram accounts. One is all about my culinary adventures - the delicious food I cook. The second is a more personal space with snaps of people, places, and things that catch my eye. If you stumble upon me here and want to discuss work, feel free to drop me a message. However, I'd prefer to continue the conversation via email.</p>
        <h5>Twitter</h5>
        <p>Twitter is my place for random thoughts, musings, shit-posting, and the occasional "shouting into the void" moment. If you enjoy a good laugh or some lighthearted banter, this is the spot. Serious inquiries or work-related discussions are better suited for email.</p>
        <h5>Response Time</h5>
        <p>Even though I do spend a considerable amount of time on social media, it's not on a regular basis. If you reach out to me, please be patient - I may not respond within a day or even a week. If your inquiry requires a prompt reply, sending me an email would be the best option.</p>
        <h5>
            Phone Calls
        </h5>
        <p>
            I'm not the best at keeping my phone charged, so calling might not be the quickest way to get in touch. If you must call, drop me a message about an hour or day beforehand to ensure I'm ready to pick up.
        </p>
        <p>All that being said, I'm always thrilled to connect, whether it's about work or to say hi.</p>
</div>