*{
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
h1{
	margin-bottom: 15px;
	text-align: center;
}
.row{
	width:100%
}
<!-- desktop -->
@media (min-width: 992px){
	.col-lg-4{
		float: left;
		border: 2px solid black;
	}
	.col-lg-4{
		width: 33.33%;
	}
}
<!-- tablet -->
@media (min-width: 768px) and (max-width: 991px){
	.col-md-6, .col-lg-12{
		float: left;
		border: 2px solid black;
	}
	.col-md-6{
		width: 50%;
	}
	.col-lg-12{
		width: 100%;
	}
}
<!-- mobile -->
@media (max-width: 767px){
	.col-sm-12{
		float: left;
		border: 2px solid black;
	}
	.col-sm-12{
		width: 100%;
	}
}
