@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Pompiere&display=swap');

$colorLight: #cccccc;
$colorDark: #333333;
$colorHighlight:#99cc99;
$colorHighlight2:#663366;

$colorFieldnote1: #66333A;
$colorFieldnote2: #665733;

$tile: sevenOverlappingCircles, rhombitrihexagonal, tilings;
$key: random(3);
$bgtile: nth($tile, $key); 

body{
    background-color: #cccccc;
    font-family: 'Catamaran', sans-serif;
    min-height: 100vh;
    font-size: 20px;
    header{
        background-color: $colorDark;
        nav{
            .nav-link:visited, .navbar-brand, .navbar-brand:visited, .navbar-toggler-icon, .nav-link, .nav-link.disabled{
                color: $colorLight;
                font-family: 'Pompiere', sans-serif;
            }
            .nav-link:focus, .nav-link:active, .nav-link:hover, .navbar-brand:focus, .navbar-brand:hover{
                color: $colorHighlight;
            }
            .navbar-brand{
                font-size: calc(2.618 * 20px);
            }
            .nav-link{
                font-size: calc(1.414 * 20px);
            }
      }
    }
    main{
        section{
            margin-bottom: 3rem;
        }
        .lead{
            font-size: calc(1.414 * 20px);
        }
       
        h1{
            color: $colorHighlight2;
            font-family: 'Pompiere', sans-serif;
        }
        h2{
            font-family: 'Pompiere', sans-serif;
            font-size: calc(1.618 * 20px);
            color: $colorHighlight2;
            margin-top: 2rem;
        }
        h3{
            font-weight: bold;
            a{
                text-decoration: none;
            }
        }
        h4{
            font-family: 'Pompiere', sans-serif;
            font-size: calc(1.414 * 20px);
            a{
                border-bottom: $colorHighlight2 solid 1px;
                text-decoration: none;
            }
        }
        ion-icon{
            color: $colorHighlight2;
            font-size: larger;
        }
        a{
            color: $colorHighlight2;
        }
        .project-nav{
            background-image: url('/assets/media/#{$bgtile}.svg');
            background-color: $colorHighlight2;
            background-repeat: repeat;
            display: flex;
            align-items: center;
            .nav-link{
                color: $colorLight;
                font-family: 'Pompiere', sans-serif;
                font-size: calc(1.414 * 20px);
            }
            .nav-link:hover{
                color: $colorHighlight;
            }
        }
        .project-tab{
            min-height: 160px;
            border-radius: 6px;
            background-image: url('/assets/media/#{$bgtile}.svg');
            background-color: $colorHighlight2;
            background-repeat: repeat;
            display: flex;
            align-items: center;
            a{
                text-decoration: none;
                color: $colorLight;
                font-family: 'Pompiere', sans-serif;
                font-size: calc(1.618 * 20px);
                font-weight: 600;
                padding: 10px;
                text-transform: uppercase;
            }
        }
        .fieldnote{
            h1{
                color: $colorHighlight2;
                font-family: 'Pompiere', sans-serif;
            }
            .color1{
                color: $colorFieldnote1;
            }
            .color2{
                color: $colorFieldnote2;
            }
            figure{
                margin: 1em;
            }
        }
        .webDev{
            a{
                text-decoration: none;
            }
            p{
                margin-bottom: 4px;
            }
        }
        .nav-tabs{
            border-color: $colorHighlight;
            .nav-link{
                color: $colorHighlight2;
                border-color: $colorHighlight;
            }
            .nav-link:hover{
                border-color: $colorHighlight2;
            }
            .nav-link.active{
                background-color: $colorHighlight2;
                color: $colorLight;
            }
        }
    }
    footer{
        font-size: calc(0.707 * 20px);
        ul{
            list-style: none;
            a{
                color: $colorDark;
            }
            a:hover{
                color: $colorHighlight2;
            }
        }
    }
}