---
layout: project
---

<h1>{{ page.title }}</h1>
{% if page.title == "Poster" %}
    <div class="d-flex flex-wrap clearfix">
        {% assign projects = page.projects | sort: "date" | reverse %}
        {% for project in projects %}
        <div class="col-md-4 p-2 float-start">
            {{ project.content }}
            <small class="text-body-secondary">made using {{ project.tools | join: ", " }}</small>
        </div>
        {% endfor %}
    </div>
{% else %}
  <ol>
    {% assign projects = page.projects | sort: "date" | reverse %}
    {% for project in projects %}

    <li>
        {% if project.path contains '_posts/' %}
          <div class="col-lg-6" data-aos="fade-up">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0 mt-4 fst-italic fw-medium"><a href="{{ project.url }}">{{ project.title }}</a></h3>
                <time>{{ project.date | date_to_string }}</time>
                <p class="card-text mb-auto">{{ project.excerpt }}</p>
                <a href="{{ project.url }}" class="icon-link gap-1 icon-link-hover stretched-link">
                  See more
                </a>
              </div>
              <div class="col-auto d-none d-lg-block">        
                {% assign first_image = project.content | split:'<img ' %}
                {% if first_image.size > 1 %}
                <img class="bd-placeholder-img" width="auto" height="250" {{ first_image[1] | split:'>' | first }}>
                {% endif %}
              </div>
            </div>
          </div>
        {% elsif project.data.outputPage %}
          <a href="{{ project.url }}">{{ project.data.name }}</a>
        
        {% else %}        
        {% if page.title != "Web Design and Development" %}
        <h4>
            {% if page.title == "Codes" or page.title == "Editing" %}
            <a href="{{project.webUrl}}" target="_blank" title="{{ project.data.name }}">
            {% endif %}
                {{ project.name }}
            {% if page.title == "Codes" or page.title == "Editing" %}
            </a>
            {% endif %}
        </h4>
        {% endif %}

        {% if page.title == "Codes" %}
            <small class="text-body-secondary">language: {{ project.tools | join: ", " }}</small>  
        {% endif %}
            {{ project.content }}
        {% if page.title == "Animation" or page.title == "Web Design and Development" %}
            <small class="text-body-secondary">made using {{ project.tools | join: ", " }}</small>
        {% endif %}
        {% endif %}
    </li>
    {% endfor %}
    </ol>
{% endif %}