<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>

<div class="container">
      
      {{ content }}
      
</div>

<footer>
  <ul>
            <li><a href="mailto:djkuzhively@gmail.com">email</a></li>
            <li><a href="https://github.com/dishajk">github.com/dishajk</a></li>
      </ul>
</footer>

</body>
</html>
