---
layout: default
---
        {% assign sortedPro = site.data.projects | sort: 'date' | reverse %}
        <ul class="nav justify-content-center container-fluid project-nav mb-3">
            {% for project in sortedPro %}
            <li class="nav-item">
                <a class="nav-link" href="{{ project.link }}">
                    {{ project.name}}
                </a>
            </li>
            {% endfor %}
        </ul>
        <section class="mb-2 container">
            {{ content }}
        </section>