---
layout: default
---
<ul class="nav justify-content-center container-fluid project-nav mb-3">
    {% assign categories = site.projects | map: "categories" | uniq | sort: "date" | reverse %}
    {% for category in categories %}
    <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/projects/{{ category | slugify }}/">
            {{ category }}
        </a>
    </li>
    {% endfor %}
</ul>
<section class="mb-2 container">
    
    <h1>Projects in {{ page.category }}</h1>
    <ul>
      {% for project in site.projects %}
        {% if project.categories contains page.category %}
          <li>
            {% if project.outputPage %}
              <a href="{{ project.url | relative_url }}">{{ project.name }}</a>
            {% else %}
              <strong>{{ project.name }}</strong>
              <div>{{ project.content }}</div>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    
</section>