---
layout: default
permalink: /projects/:title/
---
<ul class="nav justify-content-center container-fluid project-nav mb-3">
            {% assign categories = site.projects | map: "categories" | uniq | sort: "date" | reverse %}
            {% for category in categories %}
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/projects/{{ category | slugify }}/">
                    {{ category }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <section class="mb-2 container">
            {{ content }}
        </section>